@import "reset.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Poppins';
    width: 100%;
}


.logo {
    height: 50px;
    position: relative;
    z-index: 30;
    margin-left: 10px;
}

/*
===== MOBILE NAV =======
*/

@media (max-width: 767px) {
.menu {
    position: absolute;
    right: 0;
    top: 0px;
    height: 40px;
    padding: 5px 10px 10px;
    z-index: 30;

}


.hider {
    background-color: #3a3633;
    display: flex;
    height: 55px;
    margin-top: -55px;
    position: sticky;
    z-index: 20;
}

.menu:hover + .nav-list {
    display: block;
    animation: navslide 0.5s;

}

nav {
    background-color: #3a3633;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 9999;
}

.nav-list {
    display: none;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100%;
}

.nav-list > a {
    color: white;
    display: block;
    background-color: #3a3633;
    text-decoration: none;
    width: 100%;
    padding: 20px 0px;
}

.nav-list > a:hover {
    background-color:  #7e7b7a;

}

.nav-list:hover {
    display: block;
}

@keyframes navslide {
    from {
        transform: translateY(-230px);
    }

    to {
        transform: translateY(0px);
    }
}

.nav-list > a > hr {
    display: none;
}

.menu:hover + .nav-list > .productos {
    display: none;
}

.nav-list:hover > .productos {
    display: none;
}

.products {
    display: none;
}
}

/*
===== DESKTOP NAV =======
*/

@media (min-width: 768px) { 
    .menu {
        display: none;
    }
    nav {
        background-color: #3a3633;
        width: 100%;
        position: fixed;
        display: block;
        z-index:99999;
    }
    
    .nav-list {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: -56px;
    }
    
    .nav-list > a {
        color: white;
        position: relative;
        background-color: #3a3633;
        text-decoration: none;
        padding: 20px 10px 20px;
        margin: 0px 10px;
        transition: border 0.5s;
    }

    .nav-list > a > hr {
        display: inline-block;
        visibility: hidden;
        position: absolute;
        bottom: -8px;
        border: 2px solid white;
        left: 0;
        width: 0%;
        transition: ease-in-out 0.3s;
    }

    .nav-list > a:hover > hr {
        width: 100%;
        visibility: visible;
    }

    .nav-list > a:hover + .products  {
        display: block;
    }

    .products:hover {
        display: block;
    }

    .products {
        position: absolute;
        top: 53px;
        display: none;
    }
    .products > ul {
        position: absolute;
        right: 6px;
        display: flex;
        flex-direction: column;
    }

    .products >ul >li {
        display: inline-block;
        position: relative;
        height: 50px;
        width: 95px;
    }

    .products > ul > li > a {
        color: white;
        display: block;
        background-color: #3a3633;
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;
    }

    .products > ul > li > a:hover {
        background-color:  #7e7b7a;
        
    }



}

.background {
    background: url(/imgs/bg.jpg) no-repeat center center;
    background-size: cover;
    height: 700px;
}

/*
===== MOBILE INTRO =======
*/

@media (max-width: 767px) {

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
}

.box > h1 {
    color: white;
    font-size: 40px;
    line-height: 1.5em;
    padding: 10px;
    text-shadow: 0px 0px 20px black;
}

.right > h2 {
    color: white;
    font-size: 36px;
}

.right {
    background-color: #3a363383;
    padding: 30px 10px;
}

.bottom > p {
    color: white;
    line-height: 1.3em;
    padding-top: 20px;
}
}

/*
===== DESKTOP INTRO =======
*/

@media (min-width: 768px) {
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 50px;
}

.box {
    display: flex;
    border: 5px solid white;
}

.box > h1 {
    color: white;
    font-size: 48px;
    line-height: 1.5em;
    margin: auto 10px;
    text-shadow: 0px 0px 20px black;
}

.right > h2 {
    color: white;
    font-size: 36px;
    padding-bottom: 20px;
}

.right {
    background-color: #3a363383;
    padding: 30px 10px;
}

.bottom {
    border-top: 1px dashed white;
    padding-top: 20px;
    display: flex;
}
.bottom > p {
    color: white;
    line-height: 1.3em;
}

.bottom > p:first-child {
    margin-right: 10px;
}
}

/*
===== RESPONSIVE FEATURE SECTION =======
*/

.feature-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.feature {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.301);
    width: 250px;
    height: 250px;
    display: block;
    margin: 30px 15px 0px;
    position: relative;
}

.feature > h2 {
    font-size: 16px;
    font-weight: bold;
    margin:  5px 0px 25px;
}

.feature > img {
    margin: 10px 0px;
}

.feature > p {
    color: gray;
    line-height: 1.5em;
    margin: 0px 10px;
    font-size: 12px;
}

.feature > button {
    color: white;
    background-color: #3a3633;
    border: none;
    padding: 10px 95px;
    position: absolute;
    bottom: 10px;
    left: 13px;
    cursor: pointer;
}

/*
===== MOBILE COOL SECTION =======
*/

.cool {
    margin-top: 30px;
    display: block;
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #3a3633;
}

.cool > h2 {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: white;
    top: 60px;
    left: 30px;
}

.cool > p {
    position: absolute;
    color: white;
    top: 160px;
    left: 30px;
    font-size: 18px;
    line-height: 1.2em;
    margin-right: 60px;
}

.slick {
    display: block;
    position: relative;
    width: 100%;
    height: 350px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(84,145,255,1) 51%, rgba(30,106,246,1) 100%);
}

.slick > h2 {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: white;
    right: 30px;
    top: 120px;
}

.slick p {
    position: absolute;
    color: white;
    top: 210px;
    right: 30px;
    font-size: 18px;
}

.section2 {
    position: relative;
    width: 100%;
}

.coolbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: -120px;
    left: 50%;
    top: 50%;
    margin-top: -55px;
    background-color: #3a3633;
    height: 110px;
    width: 240px;
    border: 5px solid white;
    text-align: center;
    z-index: 20;
}

.coolbox > h3 {
    color: red;
}

.coolbox:hover {
    animation: spin 0.2s ease;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}


/*
===== DESKTOP COOL SECTION =======
*/

@media (min-width: 768px) {
    .cool {
        margin-top: 30px;
        display: block;
        position: relative;
        width: 100%;
        height: 350px;
        background-color: #3a3633;
    }

    .cool > h2 {
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        color: white;
        top: 60px;
        left: 30px;
    }

    .cool > p {
        position: absolute;
        color: white;
        top: 160px;
        left: 30px;
        font-size: 24px;
        line-height: 1.2em;
        margin-right: 60px;
    }

    .slick {
        display: block;
        position: relative;
        width: 100%;
        height: 350px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(84,145,255,1) 51%, rgba(30,106,246,1) 100%);
    }

    .slick > h2 {
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        color: white;
        right: 30px;
        top: 90px;
    }

    .slick p {
        position: absolute;
        color: white;
        top: 190px;
        right: 30px;
        font-size: 24px;
    }

    .section2 {
        position: relative;
        width: 100%;
    }
    
    .coolbox {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 150px;
        top: 50%;
        margin-top: -55px;
        background-color: #3a3633;
        height: 110px;
        width: 240px;
        border: 5px solid white;
        text-align: center;
        z-index: 20;
    }
    
    .coolbox > h3 {
        color: red;
    }

    .coolbox:hover {
        animation: cool 4s ease;
    }

    @keyframes cool {
        0% {transform: scale(1)}
        
        50% {transform: translateX(75%) rotate(180deg);}

        90% {transform: translateX(75%) rotate(180deg) scale(1.5);}

        95% {transform: translateX(75%) rotate(180deg) scale(0);}
    }
}
/* 
===== MOBILE-GALLERY =====
*/
.gallery > div {
    display: block;
    overflow: hidden;
    margin-bottom: -6px;
    position: relative;
    width: 100%;
}

.gallery > div > div {
    display: block;
    background-color: rgba(128, 128, 128, 0.13);
    height: 400px;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 18px;
    text-align: center;
    pointer-events: none;
    visibility: hidden;
    line-height: 400px;
    z-index: 10;
    transition: ease-in 0.5s;
    transition: ease-out 0s;
}
.gallery > div > img {
    object-fit: cover;
    display: block;
    height: 400px;
    width:100%;
    transition: ease-in-out 0.5s;

    
}

.gallery > div > img:hover {
    transform: scale(1.1);
    
}

.gallery > div:hover > div {
    visibility: visible;
}
/*
=====DESKTOP GALLERY====
*/
@media (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .gallery > div > img {
        height: 220px;
    }

    .gallery > div > div {
        height: 220px;
        line-height: 220px;
    }
}

/*
=====EMAIL FORM=====
*/
footer {
    overflow-x: hidden;
}

.mailing {
    display: block;
    position: relative;
    left: 50%;
    margin-left: -140px;

}

.mailing > form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;


}

.email {
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 280px;
    margin: 10px 0;
}

input[type=image] {
    background-color: gray;
    padding: 3px 15px;
    border:none;

}

input[type=email] {
    height: 31px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

input[type=email]:focus + input[type=image] {
    background-color: rgb(87, 87, 87);
}

input[type=email]:focus {
    outline: none;
    border: 1px solid rgb(87, 87, 87);
}

input[type=image]:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px black;
    background-color: rgb(80, 80, 80);
}

.links {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    padding: 20px;
}

.links > ul > li > a {
    text-decoration: none;
    line-height: 2em;
    color: gray;
}

.links > ul:first-child {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .links {
        grid-template-columns: auto auto auto auto;
    }
}
